<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.roots"
    >

    <!-- Layer SDK uses these for monitoring network state and receiving GCM -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- GCM permission for your app (replace [com.myapp.newstandalone] with your package name) -->

    <permission
        android:name="com.team.roots.LAYER_PUSH"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.team.roots.LAYER_PUSH" />

    <permission
        android:name="com.team.roots.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.team.roots.permission.C2D_MESSAGE" />

    <application
        android:name="com.team.roots.RootsApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/CustomActionBarTheme" >
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:155377978502" />

        <activity
            android:name="com.team.roots.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeLogin"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.team.roots.ReportedIDListActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name="com.team.roots.ConversationListActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team.roots.ReportedIDListActivity" />
        </activity>

        <activity
            android:name="com.team.roots.ViewMessagesActivity"
            android:label="@string/app_name"

            android:windowSoftInputMode="adjustResize" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.team.roots.ConversationListActivity" />
        </activity>


        <!-- for layer -->
        <!-- Your custom "com.layer.sdk.PUSH" notification Receiver -->
        <receiver android:name="com.team.roots.LayerPushReceiver" >
            <intent-filter>
                <action android:name="com.layer.sdk.PUSH" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="com.team.roots" />
            </intent-filter>
        </receiver>

        <!-- Layer's GCM Receiver and Service -->
        <receiver
            android:name="com.layer.sdk.services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter android:priority="950" >
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.team.roots" />
            </intent-filter>
        </receiver>

        <service android:name="com.layer.sdk.services.GcmIntentService" />

        <!-- for parse -->
        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.team.roots.AvailabilityBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.team.roots" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
